<div class="inner cover">
  <h1 class="cover-heading">Welcome To nMon</h1>
  <p class="lead">nMon is a service that tracks the uptime, downtime, and performance of websites.</p>
</br>
  <p class="lead"><a href="/users/new.html#" class="btn btn-lg btn-default">Start Monitoring!</a></p>
</div>
<div class="mastfoot">
  <div class="inner">